# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science.
+ List commonly used libraries for Data Scientists.
+ Create tables.
+ Evaluate arithmetic expressions.
+ Create simple programms that do the conversion from minutes into hours.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. ggplot, to plot in R
2. caret, for machine learning in R
3. pandas, for data science in Python

| Data Sciece Tools |
| ----------------- |
| Jupyter notebooks |
| Zeppelin notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [21]:
minutes=200
hours=minutes/60
print(hours)
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

### Author
Iv√°n Salas